html {
    font-family: 'Josefin Sans';
    height: 100%;
}

body {
    background-color: #353238;
    color: #FFBA08;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background
}

img {
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 45px;
    text-align: center;
    margin: 30px;
}

footer {
    flex-shrink: 0;
    height: 20px;
    background-color: red;
}

.imgWrapper {
    border-radius: 10%;
    border: 3px solid rgba(0, 0, 0, 0);
}

.scoreContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 30%;
    font-size: 35px;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    margin: 5% 30%;
    font-size: 35px;
}

.resultsImgContainer {
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0px 25%;
}

.content {
    flex: 1 0 auto;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 200px 50px 200px;
    background-color: ;
}

.button:hover {
    cursor: pointer;
}

.imgWrapper:hover {
    box-shadow: 0 0 10px 10px #FFF;
    transition: .55s ease-in-out;
}